<div class="container">
  <hr>
  <div class="alert alert-info text-center" role="alert">
    loren
  </div>

  <div class="row">


    <ul>
      <div class="col-md-4 img_new_home">
        <li>
          <article>
            <div class="pic_news_section"> <a href="/u2-joshua-tree-bono-or-without-you-565383">
              <picture class="" width="391" height="261">
                <img width="391" height="261" class="img-responsive" src="http://lorempixel.com/640/480/sports/" alt="U2" title="">
              </picture>
            </div>
            <div class="">
              <div class=""> <a href="/Deportes">Deportes</a>
              </div><h3> <a href="#">Titulo</a></h3>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptas animi dolore adipisci sed veniam sunt, architecto odit necessitatibus molestiae perspiciatis recusandae repudiandae fugiat est tempora at? Fugiat, nihil, eius.
              </div>
            </div>
          </article>
        </li>
      </div>

      <div class="col-md-4 img_new_home">
        <li>
          <article>
            <div class="pic_news_section"> <a href="#">
              <picture class="" width="391" height="261">
                <img width="391" height="261" class="img-responsive" src="http://lorempixel.com/640/480/business/" alt="business" title="">
              </picture>
            </div>
            <div class="">
              <div class=""> <a href="/Deportes">Negocios</a>
              </div><h3> <a href="#">Titulo</a></h3>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptas animi dolore adipisci sed veniam sunt, architecto odit necessitatibus molestiae perspiciatis recusandae repudiandae fugiat est tempora at? Fugiat, nihil, eius.
              </div>
            </div>
          </article>
        </li>
      </div>

      <div class="col-md-4 img_new_home">
        <li>
          <article>
            <div class="pic_news_section"> <a href="#">
              <picture class="" width="391" height="261">
                <img width="391" height="261" class="img-responsive" src="http://lorempixel.com/640/480/city/" alt="business" title="">
              </picture>
            </div>
            <div class="">
              <div class=""> <a href="/Cidades">Cidades</a>
              </div><h3> <a href="#">Titulo</a></h3>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptas animi dolore adipisci sed veniam sunt, architecto odit necessitatibus molestiae perspiciatis recusandae repudiandae fugiat est tempora at? Fugiat, nihil, eius.
              </div>
            </div>
          </article>
        </li>
      </div>

      <div class="col-md-4 img_new_home">
        <li>
          <article>
            <div class="pic_news_section"> <a href="#">
              <picture class="" width="391" height="261">
                <img width="391" height="261" class="img-responsive" src="http://lorempixel.com/640/480/fashion/" alt="business" title="">
              </picture>
            </div>
            <div class="">
              <div class=""> <a href="/Moda">Moda</a>
              </div><h3> <a href="#">Titulo</a></h3>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptas animi dolore adipisci sed veniam sunt, architecto odit necessitatibus molestiae perspiciatis recusandae repudiandae fugiat est tempora at? Fugiat, nihil, eius.
              </div>
            </div>
          </article>
        </li>
      </div>



  </div> <!-- row -->

  <div class="row">
    <

  </div>
  <div class="alert alert-info text-center" role="alert">
    loren
  </div>
</div>
